{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/favicons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/favicons/favicon-16x16.png" %}">
    <link rel="shortcut icon" href="{% static "assets/favicons/favicon.ico" %}">

    <link rel="manifest" href="{% static "assets/favicons/site.webmanifest" %}">
    
    <link rel="mask-icon" href="{% static "assets/favicons/safari-pinned-tab.svg" %}" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static "assets/favicons/browserconfig.xml" %}">
    <meta name="theme-color" content="#a789d4">
 

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href=" {% static "assets/css/swiper-bundle.min.css" %} " />
        <!--=============== CSS ===============-->
    <link rel="stylesheet" href=" {% static "assets/css/styles.css" %} " />