 {% load static %}
 <section class="about section" id="about">
    <span id="introl" class="section__subtitle">My Intro</span>
    <h2 id="aboutl" class="section__title">About Me</h2>

    <div class="about__container container grid">

        <img src=" {% static "assets/img/profile_icon.gif" %}" alt="img-about" class="about__img">


        <div class="about__data">
            <div class="about__info">
                <div class="about__box">
                    <i class='bx bx-award about__icon'></i>
                    <h3 id="experiencel" class="about__title">Experience</h3>
                    <span id="expyearl" class="about__subtitle">5 Years </span>
                </div>
                <div class="about__box">
                    <i class='bx bx-briefcase-alt about__icon'></i>
                    <h3 id="competedl" class="about__title">Completed</h3>
                    <span id="projectsl" class="about__subtitle">12+ Projects</span>
                </div>
                <div class="about__box">
                    <i class='bx bx-support about__icon'></i>
                    <h3 id="suportel" class="about__title">Support</h3>
                    <span class="about__subtitle">Online 24/7</span>
                </div>
            </div>

            <p id="descriptionll1" class="about__description">
                Hello, my name is Wendel Alves (wendellast). I'm a software developer focused on backend development.
                I currently work with Python, Go, TypeScript, among other languages.
                I build complete websites and applications using frameworks like Django, FastAPI, Flask, Express, and Gin-Gonic to sharpen my skills.

                I also have experience in DevOps — integrating applications with Docker and Kubernetes, configuring servers with Nginx, and implementing CI/CD pipelines to automate deployments.
            </p>

            <p id="descriptionll2" class="about__description">
                I'm always looking for new knowledge and challenges. If you have any questions or just want to connect, I'd love to hear from you!
            <p>


            <a id="contactl" href="#contact" class="button about__button-contact">Contact Me</a>
        </div>
    </div>
</section>

