<section class="contact section" id="contact">
    <span id="touchl" class="section__subtitle">Get in touch</span>
    <h3 id="contamell" class="section__title">Contact Me</h3>

    <div class="contact__container container grid">
        <div class="contact__content">
            <h3 id="talkl" class="contact__title contact__title-info">Talk to me</h3>

            <div class="contact__info">
                <div class="contact__card">
                    <i class='bx bx-mail-send contact__card-icon'></i>
                    <h3 class="contact__card-title">Email</h3>
                    <span class="contact__card-data">wendelalvesj@hotmail.com</span>

                    <a href="mailto:wendelalvesj@hotmail.com" target="_blank" class="contact__button">
                        Write Me <i class='bx bx-right-arrow contact__button-icon'></i>
                    </a>
                </div>

                <div class="contact__card">
                    <i class='bx bxl-discord contact__card-icon'></i>
                    <h3 class="contact__card-title">Discord</h3>
                    <span class="contact__card-data">wendellast</span>

                    <a href="https://discord.com/users/wendellast" target="_blank" class="contact__button">
                        Write Me <i class='bx bx-right-arrow contact__button-icon'></i>
                    </a>
                </div>

                <div class="contact__card">
                    <i class='bx bxl-telegram contact__card-icon'></i>
                    <h3 class="contact__card-title">Telegram</h3>
                    <span class="contact__card-data">wendellast</span>

                    <a href="https://t.me/wendellast" target="_blank" class="contact__button">
                        Write Me <i class='bx bx-right-arrow contact__button-icon'></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact__content">
            <h3 class="contact__title">Write me your project</h3>

            <form action="" class="contact__form">
                <div class="contact__form-div">
                    <label for="name" class="contact__form-tag">Name</label>
                    <input type="text" name="name" id="name" class="contact__form-input" placeholder="Insert your name" required>
                </div>

                <div class="contact__form-div">
                    <label for="email" class="contact__form-tag">Email</label>
                    <input type="email" name="email" id="email" class="contact__form-input" placeholder="Insert your email" required>
                </div>

                <div class="contact__form-div contact__form-area">
                    <label for="message" class="contact__form-tag">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10" class="contact__form-input" placeholder="Write your message" required></textarea>
                </div>

                <button type="submit" class="button">Send Message</button>
            </form>
        </div>
    </div>
</section>
