<footer class="footer">
    <div class="footer__container container">
        <h1 id="awbo" class="footer__title">All Will Be One</h1>

        <ul class="footer__list">

            <li class="footer__item">
                <a id="homel" href="#" class="footer__link">Home</a>
            </li>
            <li class="footer__item">
                <a id="aboutl2" href="#about" class="footer__link">About</a>
            </li>
            <li class="footer__item">
                <a id="skills2l" href="#skills" class="footer__link">Skills</a>
            </li>
            <li class="footer__item">
                <a id="worrk2" href="#work" class="footer__link">Work</a>
            </li>
            <li class="footer__item">
                <a id="contact2k" href="#contact" class="footer__link">Contact</a>
            </li>
        </ul>

        <ul class="footer__social">
            <li class="footer__social-item">
                <a href="https://github.com/wendellast" target="_blank" class="footer__social-link">
                    <i class='bx bxl-github footer__social-icon'></i>
                </a>
            </li>
            <li class="footer__social-item">
                <a href="https://discord.com/users/wendellast" target="_blank" class="footer__social-link">
                    <i class='bx bxl-discord footer__social-icon'></i>
                </a>
            </li>
            <li class="footer__social-item">
                <a href="https://www.linkedin.com/in/wendellast/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-linkedin footer__social-icon'></i>
                </a>
            </li>
            <li class="footer__social-item">
                <a href="https://www.instagram.com/wendellastwa/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram footer__social-icon'></i>
                </a>
            </li>
        </ul>

        <span class="footer__copy">
            &#169; 2024 wendellast : Phyrexia
        </span>
    </div>
</footer>


