<section class="skills section" id="skills">
    <span id="abilityl" class="section__subtitle">My Abilities</span>
    <h2 id="experienci2l" class="section__title">My Experience</h2>
    <div class="skills__container container grid">
        <div class="skills__content">
            <h3 id="languagesl" class="skills__title">Frameworks & Languages</h3>

            <div class="skills__box">
                <div class="skills__group">
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Python</h3>

                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Go</h3>

                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">TypeScript</h3>

                        </div>


                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Flask</h3>

                        </div>


                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">FastApi</h3>

                        </div>
                    </div>

                </div>
                <div class="skills__group">
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Django</h3>

                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">C++</h3>

                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Bash</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Javascript</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">SQl/NoSql</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="skills__content">
            <h3 id="toolsl" class="skills__title">Tools</h3>

            <div class="skills__box">
                <div class="skills__group">
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Prisma</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Github</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">LLM</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">MicroControladores</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">DataBase</h3>
                        </div>
                    </div>

                </div>
                <div class="skills__group">
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Terminal/Linux</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">CI/CD</h3>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Docker</h3>
                        </div>
                    </div>
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Swagger</h3>
                        </div>
                    </div>
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>

                        <div>
                            <h3 class="skills__name">Prometheus/Grafana</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</section>