<div class="work__container container grid">
    {% for project in projects %}
    <div class="work__card mix web">
        <img src="{{ project.image.url }}" alt="Imagem de {{ project.name }}" class="work__img">

        <h3 class="work__title">{{ project.name }}</h3>
        <hr class="gradient-hr">

        <div class="tags-container">
            {% for tag in project.tag_list %}
            <a class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
        <hr class="gradient-hr">

        {% if project.website_link %}
        <a href="{{ project.website_link }}" target="_blank" class="work__button">
            Demo <i class='bx bx-right-arrow work__icon'></i>
        </a>
        {% endif %}

        {% if project.github_link %}
        <a href="{{ project.github_link }}" target="_blank" class="work__button">
            Github Link <i class='bx bxl-github'></i>
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>
