{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="about section" id="about">
    <span id="introl" class="section__subtitle">Email Enviado Para</span>
    <h2 id="aboutl" class="section__title"><strong>Wendellast</strong></h2>

    <div class="about__container container grid">
        <img src="{% static "assets/img/success.svg" %}" alt="Imagem do Urso logo" class="about__img">

        <div class="about__data">
            <p id="descriptionll1" class="about__description">
                Olá!

                Seu e-mail foi enviado com sucesso. Agradeço pelo seu contato! Estou aqui para ajudar e irei responder o mais breve possível. 

                Aguarde um momento e até já!
            </p>
            <p id="descriptionll2" class="about__description">
                Enquanto isso, se tiver alguma dúvida ou questão urgente, entre em contato através das minhas redes sociais, que estão disponíveis na parte de contato do meu portfólio.
            </p>
            <a href="{% url "portfolio:home" %}" target="_blank" id="contactl" class="button about__button-contact">Volta para o portfólio</a>
        </div>
    </div>
</section>
{% endblock content %}